In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Join').getOrCreate()

In [3]:
spark

In [23]:
customer=spark.read.csv(r'C:\Users\pavan\OneDrive\Documents\My Tableau Repository\tableau_tutorial\EU-Training-Datasets\EU-Training-Datasets\EU Training Datasets\TableauProject-SalesDashboard\Customers.csv',sep=';',inferSchema=True,header=True)

In [24]:
customer.show()

+-----------+--------------------+
|Customer ID|       Customer Name|
+-----------+--------------------+
|   AA-10315|          Alex Avila|
|   AA-10375|        Allen Armold|
|   AA-10480|        Andrew Allen|
|   AA-10645|       Anna Andreadi|
|   AB-10015|       Aaron Bergman|
|   AB-10060|     Adam Bellavance|
|   AB-10105|       Adrian Barton|
|   AB-10150|         Aimee Bixby|
|   AB-10165|         Alan Barnes|
|   AB-10255|Alejandro Ballentine|
|   AB-10600|           Ann Blume|
|   AC-10420|       Alyssa Crouse|
|   AC-10450|             Amy Cox|
|   AC-10615|           Ann Chong|
|   AC-10660|          Anna Chung|
|   AD-10180|      Alan Dominguez|
|   AF-10870|        Art Ferguson|
|   AF-10885|          Art Foster|
|   AG-10270|     Alejandro Grove|
|   AG-10300| Aleksandra Gannaway|
+-----------+--------------------+
only showing top 20 rows

In [25]:
orders=spark.read.csv(r"C:\Users\pavan\OneDrive\Documents\My Tableau Repository\tableau_tutorial\EU-Training-Datasets\EU-Training-Datasets\EU Training Datasets\TableauProject-SalesDashboard\Orders.csv",sep=';',inferSchema=True,header=True)

In [32]:
orders.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: integer (nullable = true)

In [45]:
orders.groupBy('Segment','Ship Mode').min('Sales').show()

+-----------+--------------+----------+
|    Segment|     Ship Mode|min(Sales)|
+-----------+--------------+----------+
|  Corporate|  Second Class|        26|
|   Consumer|      Same Day|        29|
|  Corporate|      Same Day|       158|
|   Consumer|  Second Class|         6|
|Home Office|   First Class|        30|
|Home Office|Standard Class|         3|
|  Corporate|   First Class|        15|
|Home Office|      Same Day|        78|
|   Consumer|Standard Class|         3|
|   Consumer|   First Class|         6|
|Home Office|  Second Class|         5|
|  Corporate|Standard Class|         8|
+-----------+--------------+----------+

In [79]:
df=orders.join(customer,'Customer ID',how='outer')
#sort('Sales').show()

In [91]:
df.sort('Quantity',ascending=False).show()

+-----------+------+--------------+----------+----------+--------------+-----------+-----------+---------------+-------+--------+--------+-------+------------------+
|Customer ID|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|    Segment|Postal Code|     Product ID|  Sales|Quantity|Discount| Profit|     Customer Name|
+-----------+------+--------------+----------+----------+--------------+-----------+-----------+---------------+-------+--------+--------+-------+------------------+
|   DK-12835|  1430|US-2021-164448|31/10/2021| 4/11/2021|  Second Class|  Corporate|      93905|OFF-LA-10003510|  42742|      14|     0.0|1966132|   Damala Kotsonis|
|   JM-15250|  8075|CA-2023-151750|  1/1/2023|  5/1/2023|Standard Class|   Consumer|      77340|OFF-BI-10000343|  13748|      14|     0.8|-226842|      Janet Martin|
|   DL-13315|  9516|CA-2020-154165|17/02/2020|24/02/2020|Standard Class|   Consumer|      60653|OFF-AR-10003631|  54208|      14|     0.2|  88088| Delfina Latchford|
|   AB-10600|  1364|US-2023-155425|10/11/2023|11/11/2023|   First Class|  Corporate|      85705|OFF-BI-10001036|  38388|      14|     0.7| -25592|         Ann Blume|
|   AG-10495|  5647|CA-2021-104241|  4/1/2021|  9/1/2021|Standard Class|  Corporate|      22304|FUR-FU-10001473|  19222|      14|     0.0| 691992|   Andrew Gjertsen|
|   AP-10720|  9980|US-2022-103674| 6/12/2022|10/12/2022|Standard Class|Home Office|      90032|OFF-BI-10002026| 437472|      14|     0.2|1531152|        Anne Pryor|
|   BP-11185|  8936|CA-2023-130036|27/08/2023|27/08/2023|      Same Day|  Corporate|      19120|TEC-AC-10001908|1119888|      14|     0.2| 209979|      Ben Peterman|
|   BW-11200|  9533|CA-2022-116596|27/10/2022|31/10/2022|Standard Class|   Consumer|      10011|FUR-CH-10000553| 427644|      14|     0.1| 807772|       Ben Wallace|
|   CB-12025|   661|CA-2021-146563|24/08/2021|28/08/2021|Standard Class|   Consumer|      76017|OFF-ST-10001511|  72408|      14|     0.2|-135765| Cassandra Brandow|
|   CC-12220|  5386|CA-2023-161410|26/06/2023|  3/7/2023|Standard Class|   Consumer|      19143|TEC-PH-10000673| 545916|      14|     0.4| 727888|      Chris Cortes|
|   CS-12400|  3903|US-2021-119312| 2/10/2021| 7/10/2021|  Second Class|Home Office|      90045|OFF-ST-10000943|  27034|      14|     0.0| 756952|Christopher Schild|
|   AG-10270|  7388|CA-2022-105732|13/09/2022|18/09/2022|Standard Class|   Consumer|      68104|FUR-FU-10003664| 133644|      14|     0.0|3875676|   Alejandro Grove|
|   GW-14605|  6629|CA-2021-135489|19/09/2021|22/09/2021|  Second Class|   Consumer|      10024|TEC-PH-10000011|  27986|      14|     0.0|1343328|  Giulietta Weimer|
|   IM-15070|  1434|CA-2020-120768|19/12/2020|21/12/2020|  Second Class|   Consumer|      35630|FUR-CH-10000513| 181986|      14|     0.0|1637874|      Irene Maddox|
|   JK-15205|  1712|CA-2023-123491|30/10/2023| 5/11/2023|Standard Class|   Consumer|      94122|OFF-AP-10002684| 170212|      14|     0.0| 510636|      Jamie Kunitz|
|   JL-15835|  9942|CA-2023-164028|24/11/2023|30/11/2023|Standard Class|   Consumer|      94122|TEC-AC-10001772|  22358|      14|     0.0| 871962|          John Lee|
|   JW-16075|  6489|CA-2021-120621|21/03/2021|26/03/2021|Standard Class|   Consumer|      28540|OFF-PA-10002254| 295456|      14|     0.2| 960232|        Julia West|
|   KA-16525|  3442|CA-2020-158337| 11/3/2020|14/03/2020|  Second Class|   Consumer|      10024|OFF-PA-10002137|  10892|      14|     0.0|  49014|    Kelly Andreada|
|   KN-16450|  2794|CA-2020-154599| 12/4/2020|17/04/2020|Standard Class|  Corporate|      90278|TEC-PH-10001557|1075088|      14|     0.2| 940702|       Kean Nguyen|
|   LC-16885|   140|CA-2022-145583|13/10/2022|19/10/2022|Standard Class|   Consumer|      95661|FUR-FU-10001706|   4312|      14|     0.0| 206976|    Lena Creighton|
+-----------+------+--------------+----------+----------+--------------+-----------+-----------+---------------+-------+--------+--------+-------+------------------+
only showing top 20 rows

In [101]:
from pyspark.sql.functions import lit

In [88]:
from pyspark.sql.functions import max

In [98]:
max_q=df.agg(max('Quantity')).collect()[0][0]

In [107]:
df1=df

In [109]:
df1=df1.withColumn('Max',lit(max_q))

In [131]:
df.filter(df.Sales >= 23962656).show()

+-----------+------+--------------+----------+---------+------------+--------+-----------+---------------+--------+--------+--------+--------+-------------+
|Customer ID|Row ID|      Order ID|Order Date|Ship Date|   Ship Mode| Segment|Postal Code|     Product ID|   Sales|Quantity|Discount|  Profit|Customer Name|
+-----------+------+--------------+----------+---------+------------+--------+-----------+---------------+--------+--------+--------+--------+-------------+
|   AG-10675|   400|CA-2022-108987|  8/9/2022|10/9/2022|Second Class|Consumer|      77036|FUR-BO-10004834|23962656|       4|    0.32|-3171528|  Anna Gayman|
+-----------+------+--------------+----------+---------+------------+--------+-----------+---------------+--------+--------+--------+--------+-------------+

In [111]:
df.show()

+-----------+------+--------------+----------+----------+--------------+--------+-----------+---------------+-------+--------+--------+--------+-------------+
|Customer ID|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode| Segment|Postal Code|     Product ID|  Sales|Quantity|Discount|  Profit|Customer Name|
+-----------+------+--------------+----------+----------+--------------+--------+-----------+---------------+-------+--------+--------+--------+-------------+
|   AA-10315|  1160|CA-2023-147039|29/06/2023|  4/7/2023|Standard Class|Consumer|      55407|OFF-AP-10000576|  36294|       3|     0.0|   90735|   Alex Avila|
|   AA-10315|  1161|CA-2023-147039|29/06/2023|  4/7/2023|Standard Class|Consumer|      55407|OFF-BI-10004654|   1154|       2|     0.0|     577|   Alex Avila|
|   AA-10315|  1300|CA-2021-121391| 4/10/2021| 7/10/2021|   First Class|Consumer|      94109|OFF-ST-10001590|   2696|       2|     0.0|   70096|   Alex Avila|
|   AA-10315|  2230|CA-2020-128055|31/03/2020|  5/4/2020|Standard Class|Consumer|      94122|OFF-BI-10004390| 673568|       2|     0.2|  252588|   Alex Avila|
|   AA-10315|  2231|CA-2020-128055|31/03/2020|  5/4/2020|Standard Class|Consumer|      94122|OFF-AP-10002765|   5298|       2|     0.0|  148344|   Alex Avila|
|   AA-10315|  5199|CA-2022-103982|  3/3/2022|  8/3/2022|Standard Class|Consumer|      78664|OFF-SU-10000151|3930072|       3|     0.2|-7860144|   Alex Avila|
|   AA-10315|  5200|CA-2022-103982|  3/3/2022|  8/3/2022|Standard Class|Consumer|      78664|OFF-FA-10001332|   2304|       1|     0.2|    7776|   Alex Avila|
|   AA-10315|  5201|CA-2022-103982|  3/3/2022|  8/3/2022|Standard Class|Consumer|      78664|TEC-PH-10000895| 431976|       3|     0.2|  323982|   Alex Avila|
|   AA-10315|  5202|CA-2022-103982|  3/3/2022|  8/3/2022|Standard Class|Consumer|      78664|TEC-AC-10002857|   4172|       7|     0.2|   57365|   Alex Avila|
|   AA-10315|  7469|CA-2020-138100|15/09/2020|20/09/2020|Standard Class|Consumer|      10011|OFF-PA-10000349|   1494|       3|     0.0|   70218|   Alex Avila|
|   AA-10315|  7470|CA-2020-138100|15/09/2020|20/09/2020|Standard Class|Consumer|      10011|FUR-FU-10002456|   1456|       2|     0.0|   62608|   Alex Avila|
|   AA-10375|   536|CA-2022-126613| 10/7/2022|16/07/2022|Standard Class|Consumer|      85204|OFF-ST-10001325|  16768|       2|     0.2|   14672| Allen Armold|
|   AA-10375|   808|CA-2021-140921|  3/2/2021|  5/2/2021|   First Class|Consumer|      68104|FUR-FU-10003347|    284|       2|     0.0|   11076| Allen Armold|
|   AA-10375|   809|CA-2021-140921|  3/2/2021|  5/2/2021|   First Class|Consumer|      68104|TEC-AC-10004901|  14997|       3|     0.0|  509898| Allen Armold|
|   AA-10375|  1173|CA-2020-158064|21/04/2020|25/04/2020|Standard Class|Consumer|      90008|OFF-BI-10002976|   1652|       5|     0.2|   55755| Allen Armold|
|   AA-10375|  1979|CA-2021-109939|  8/5/2021| 12/5/2021|Standard Class|Consumer|      97301|OFF-AR-10000127|   5248|       2|     0.2|    5904| Allen Armold|
|   AA-10375|  2264|CA-2022-131065|14/11/2022|16/11/2022|  Second Class|Consumer|      30318|TEC-AC-10004145|  49998|       2|     0.0| 1149954| Allen Armold|
|   AA-10375|  2265|CA-2022-131065|14/11/2022|16/11/2022|  Second Class|Consumer|      30318|OFF-PA-10002479|    528|       1|     0.0|    2376| Allen Armold|
|   AA-10375|  2266|CA-2022-131065|14/11/2022|16/11/2022|  Second Class|Consumer|      30318|OFF-BI-10004970|    826|       2|     0.0|   38822| Allen Armold|
|   AA-10375|  3008|CA-2020-130729|24/10/2020|29/10/2020|Standard Class|Consumer|      91730|OFF-BI-10002706|  34272|       3|     0.2|  111384| Allen Armold|
+-----------+------+--------------+----------+----------+--------------+--------+-----------+---------------+-------+--------+--------+--------+-------------+
only showing top 20 rows

In [113]:
count_customers=df.groupBy('Customer ID').count().sort('count')

In [136]:
count_customers=count_customers.withColumnRenamed('count','count_orders')

In [137]:
count_customers.printSchema()

root
 |-- Customer ID: string (nullable = true)
 |-- count_orders: long (nullable = false)

In [ ]:
df.filer

In [140]:
count_customers.filter(count_customers.count_orders > 1).show()

+-----------+------------+
|Customer ID|count_orders|
+-----------+------------+
|   PB-19210|           2|
|   PH-18790|           2|
|   BO-11425|           2|
|   AR-10570|           2|
|   SH-20635|           2|
|   NB-18580|           2|
|   EL-13735|           2|
|   TS-21085|           2|
|   RM-19750|           2|
|   MG-18205|           2|
|   LH-16750|           3|
|   JR-15670|           3|
|   MW-18235|           3|
|   PC-19000|           3|
|   PK-18910|           3|
|   RS-19870|           3|
|   FW-14395|           3|
|   ML-18265|           3|
|   LT-16765|           3|
|   RH-19555|           3|
+-----------+------------+
only showing top 20 rows

In [158]:
count_customers.agg( {'count_orders' : 'max','count_orders' : 'min'} ).show()

+-----------------+
|min(count_orders)|
+-----------------+
|                1|
+-----------------+

In [159]:
from pyspark.sql import functions as F

In [168]:
count_customers.agg( F.min(count_customers.count_orders),F.max(count_customers.count_orders) ).show()

+-----------------+-----------------+
|min(count_orders)|max(count_orders)|
+-----------------+-----------------+
|                1|               37|
+-----------------+-----------------+

In [170]:
m_c=count_customers.agg( F.min(count_customers.count_orders),F.max(count_customers.count_orders) )

In [172]:
m_c.collect()[0][1]

37