In [1]:
import psycopg2
import pandas as pd
import io

C:\Users\pavan\AppData\Local\Temp\ipykernel_18380\2798084399.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
path=r'D:\CODES\FlatFiles\emp_csv\EMP.csv'
df=pd.read_csv(path)

In [3]:
df.dtypes

EMPLOYEE_ID         int64
FIRST_NAME         object
LAST_NAME          object
EMAIL              object
PHONE_NUMBER       object
HIRE_DATE          object
JOB_ID             object
SALARY              int64
COMMISSION_PCT    float64
MANAGER_ID        float64
DEPARTMENT_ID       int64
dtype: object

In [4]:
postgres_data_types = {
    'int64': 'INTEGER',
    'float64': 'FLOAT',
    'object': 'TEXT',
    # Add mappings for other data types as needed
}

In [5]:
table_name = 'postgres_emp'

In [8]:
columns = ', '.join([f"{col} {postgres_data_types[df[col].dtype.name]}" for col in df.columns])

In [10]:
create_table_statement = f"CREATE TABLE {table_name} ({columns})"
create_table_statement

'CREATE TABLE postgres_emp (EMPLOYEE_ID INTEGER, FIRST_NAME TEXT, LAST_NAME TEXT, EMAIL TEXT, PHONE_NUMBER TEXT, HIRE_DATE TEXT, JOB_ID TEXT, SALARY INTEGER, COMMISSION_PCT FLOAT, MANAGER_ID FLOAT, DEPARTMENT_ID INTEGER)'

In [39]:
try: 
    conn = psycopg2.connect("host=localhost port=5433 dbname=postgres user=postgres password=password")
    print("connected to DB)")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

connected to DB)

In [40]:
cur=conn.cursor()

In [13]:
cur.execute(create_table_statement)

In [47]:
conn.commit()

In [6]:
output = io.StringIO()

In [7]:
output

In [8]:
df.to_csv(output, sep='\t', header=False, index=False)

In [9]:
output.seek(0)

0

In [10]:
contents =output.getvalue()

In [11]:
contents

'100\tSteven\tKing\tSKING\t515.123.4567\t2003-06-17\tAD_PRES\t24000\t\t\t90\r\n101\tNeena\tKochhar\tNKOCHHAR\t515.123.4568\t2005-09-21\tAD_VP\t17000\t\t100.0\t90\r\n102\tLex\tDe Haan\tLDEHAAN\t515.123.4569\t2001-01-13\tAD_VP\t17000\t\t100.0\t90\r\n103\tAlexander\tHunold\tAHUNOLD\t590.423.4567\t2006-01-03\tIT_PROG\t9000\t\t102.0\t60\r\n104\tBruce\tErnst\tBERNST\t590.423.4568\t2007-05-21\tIT_PROG\t6000\t\t103.0\t60\r\n105\tDavid\tAustin\tDAUSTIN\t590.423.4569\t2005-06-25\tIT_PROG\t4800\t\t103.0\t60\r\n106\tValli\tPataballa\tVPATABAL\t590.423.4560\t2006-02-05\tIT_PROG\t4800\t\t103.0\t60\r\n107\tDiana\tLorentz\tDLORENTZ\t590.423.5567\t2007-02-07\tIT_PROG\t4200\t\t103.0\t60\r\n108\tNancy\tGreenberg\tNGREENBE\t515.124.4569\t2002-08-17\tFI_MGR\t12008\t\t101.0\t100\r\n109\tDaniel\tFaviet\tDFAVIET\t515.124.4169\t2002-08-16\tFI_ACCOUNT\t9000\t\t108.0\t100\r\n110\tJohn\tChen\tJCHEN\t515.124.4269\t2005-09-28\tFI_ACCOUNT\t8200\t\t108.0\t100\r\n111\tIsmael\tSciarra\tISCIARRA\t515.124.4369\t2005-09-30\tFI_ACCOUNT\t7700\t\t108.0\t100\r\n112\tJose Manuel\tUrman\tJMURMAN\t515.124.4469\t2006-03-07\tFI_ACCOUNT\t7800\t\t108.0\t100\r\n113\tLuis\tPopp\tLPOPP\t515.124.4567\t2007-12-07\tFI_ACCOUNT\t6900\t\t108.0\t100\r\n114\tDen\tRaphaely\tDRAPHEAL\t515.127.4561\t2002-12-07\tPU_MAN\t11000\t\t100.0\t30\r\n115\tAlexander\tKhoo\tAKHOO\t515.127.4562\t2003-05-18\tPU_CLERK\t3100\t\t114.0\t30\r\n116\tShelli\tBaida\tSBAIDA\t515.127.4563\t2005-12-24\tPU_CLERK\t2900\t\t114.0\t30\r\n117\tSigal\tTobias\tSTOBIAS\t515.127.4564\t2005-07-24\tPU_CLERK\t2800\t\t114.0\t30\r\n118\tGuy\tHimuro\tGHIMURO\t515.127.4565\t2006-11-15\tPU_CLERK\t2600\t\t114.0\t30\r\n'

In [46]:
cur.copy_from(output, table_name, null="")

In [49]:
conn.close()

In [12]:
cur.execute("""CREATE TABLE datacamp_courses(
            course_id SERIAL PRIMARY KEY,
            course_name VARCHAR (50) UNIQUE NOT NULL,
            course_instructor VARCHAR (100) NOT NULL,
            topic VARCHAR (20) NOT NULL);
            """)

In [13]:
cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to SQL','Izzy Weber','Julia')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Analyzing Survey Data in Python','EbunOluwa Andrew','Python')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to ChatGPT','James Chapman','Theory')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to Statistics in R','Maggie Matsui','R')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Hypothesis Testing in Python','James Chapman','Python')");

In [19]:
conn.commit()

In [ ]:
cur.execute("select * from datacamp_courses")

In [18]:
r=cur.fetchall()

In [20]:
r

[(1, 'Introduction to SQL', 'Izzy Weber', 'Julia'),
 (2, 'Analyzing Survey Data in Python', 'EbunOluwa Andrew', 'Python'),
 (3, 'Introduction to ChatGPT', 'James Chapman', 'Theory'),
 (4, 'Introduction to Statistics in R', 'Maggie Matsui', 'R'),
 (5, 'Hypothesis Testing in Python', 'James Chapman', 'Python')]

In [17]:
df=pd.DataFrame(r)

In [ ]:
df

In [3]:
import re

In [4]:
values = re.split(",",
                          re.sub('\r\n', '', re.sub('"', '', 'john,45,5000')))

In [5]:
values

['john', '45', '5000']

In [9]:
l=zip(('name','age','salary'),values)

In [17]:
list(map(lambda i : print(i),l))

('name', 'john')
('age', '45')
('salary', '5000')

[None, None, None]