In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import current_date, datediff,expr

In [5]:
spark=SparkSession.builder.appName('matlib_prac').getOrCreate()

In [6]:
spark

In [7]:
data=spark.read.csv('D:\CODES\FlatFiles\emp_csv\EMP.csv',header=True,inferSchema=True)

In [8]:

data=data.withColumn('EXP', expr("year(current_date()) - year(hire_date)"))

In [9]:
data.show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|EXP|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|          NULL|      NULL|           90| 21|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90| 19|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90| 23|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60| 18|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60| 17|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60| 19|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60| 18|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60| 17|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100| 22|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100| 22|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100| 19|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100| 19|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100| 18|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100| 17|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30| 22|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30| 21|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30| 19|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30| 19|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30| 18|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---+

In [10]:
from pyspark.ml.feature import VectorAssembler
a=VectorAssembler(inputCols=['DEPARTMENT_ID','EXP'],outputCol="Independent Features")

In [11]:
o=a.transform(data)

In [13]:
o.show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---+--------------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|EXP|Independent Features|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---+--------------------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|          NULL|      NULL|           90| 21|         [90.0,21.0]|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90| 19|         [90.0,19.0]|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90| 23|         [90.0,23.0]|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60| 18|         [60.0,18.0]|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60| 17|         [60.0,17.0]|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60| 19|         [60.0,19.0]|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60| 18|         [60.0,18.0]|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60| 17|         [60.0,17.0]|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100| 22|        [100.0,22.0]|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100| 22|        [100.0,22.0]|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100| 19|        [100.0,19.0]|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100| 19|        [100.0,19.0]|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100| 18|        [100.0,18.0]|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100| 17|        [100.0,17.0]|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30| 22|         [30.0,22.0]|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30| 21|         [30.0,21.0]|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30| 19|         [30.0,19.0]|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30| 19|         [30.0,19.0]|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30| 18|         [30.0,18.0]|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---+--------------------+

In [60]:
final_dat=o.select('Independent Features','salary')
final_dat.show()

+--------------------+------+
|Independent Features|salary|
+--------------------+------+
|         [90.0,21.0]| 24000|
|         [90.0,19.0]| 17000|
|         [90.0,23.0]| 17000|
|         [60.0,18.0]|  9000|
|         [60.0,17.0]|  6000|
|         [60.0,19.0]|  4800|
|         [60.0,18.0]|  4800|
|         [60.0,17.0]|  4200|
|        [100.0,22.0]| 12008|
|        [100.0,22.0]|  9000|
|        [100.0,19.0]|  8200|
|        [100.0,19.0]|  7700|
|        [100.0,18.0]|  7800|
|        [100.0,17.0]|  6900|
|         [30.0,22.0]| 11000|
|         [30.0,21.0]|  3100|
|         [30.0,19.0]|  2900|
|         [30.0,19.0]|  2800|
|         [30.0,18.0]|  2600|
+--------------------+------+