In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('test-app').getOrCreate()

In [5]:
df=spark.read.csv('D:\CODES\FlatFiles\emp_csv\EMP.csv',header=True,inferSchema=True)

In [6]:
df.printSchema()

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: date (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: integer (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

In [7]:
df.select(['EMAIL','SALARY']).show()

+--------+------+
|   EMAIL|SALARY|
+--------+------+
|   SKING| 24000|
|NKOCHHAR| 17000|
| LDEHAAN| 17000|
| AHUNOLD|  9000|
|  BERNST|  6000|
| DAUSTIN|  4800|
|VPATABAL|  4800|
|DLORENTZ|  4200|
|NGREENBE| 12008|
| DFAVIET|  9000|
|   JCHEN|  8200|
|ISCIARRA|  7700|
| JMURMAN|  7800|
|   LPOPP|  6900|
|DRAPHEAL| 11000|
|   AKHOO|  3100|
|  SBAIDA|  2900|
| STOBIAS|  2800|
| GHIMURO|  2600|
+--------+------+

In [8]:
df.dtypes

[('EMPLOYEE_ID', 'int'),
 ('FIRST_NAME', 'string'),
 ('LAST_NAME', 'string'),
 ('EMAIL', 'string'),
 ('PHONE_NUMBER', 'string'),
 ('HIRE_DATE', 'date'),
 ('JOB_ID', 'string'),
 ('SALARY', 'int'),
 ('COMMISSION_PCT', 'string'),
 ('MANAGER_ID', 'int'),
 ('DEPARTMENT_ID', 'int')]

In [9]:
df.describe().show()

+-------+-----------------+----------+---------+--------+------------+-------+-----------------+--------------+------------------+------------------+
|summary|      EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| JOB_ID|           SALARY|COMMISSION_PCT|        MANAGER_ID|     DEPARTMENT_ID|
+-------+-----------------+----------+---------+--------+------------+-------+-----------------+--------------+------------------+------------------+
|  count|               19|        19|       19|      19|          19|     19|               19|             0|                18|                19|
|   mean|            109.0|      NULL|     NULL|    NULL|        NULL|   NULL|8463.578947368422|          NULL|106.16666666666667| 69.47368421052632|
| stddev|5.627314338711377|      NULL|     NULL|    NULL|        NULL|   NULL|5713.049684866603|          NULL| 5.204635942514865|28.958530543314353|
|    min|              100| Alexander|   Austin| AHUNOLD|515.123.4567|AD_PRES|             2600|          NULL|               100|                30|
|    max|              118|     Valli|    Urman|VPATABAL|590.423.5567| PU_MAN|            24000|          NULL|               114|               100|
+-------+-----------------+----------+---------+--------+------------+-------+-----------------+--------------+------------------+------------------+

In [10]:
df1=df.withColumn('Exp',df['salary']+1000)

In [11]:
df1=df1.withColumnRenamed('Exp','SAL_PREDIC')

In [12]:
df1.show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|          NULL|      NULL|           90|     25000|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90|     18000|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90|     18000|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60|     10000|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60|      7000|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60|      5800|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60|      5800|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60|      5200|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100|     13008|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100|     10000|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100|      9200|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100|      8700|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100|      8800|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100|      7900|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30|     12000|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30|      4100|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30|      3900|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30|      3800|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30|      3600|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+

In [13]:
df.drop('SAL_PREDICt').show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|          NULL|      NULL|           90|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+

In [14]:
df1.na.fill('misssing').show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|      misssing|      NULL|           90|     25000|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|      misssing|       100|           90|     18000|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|      misssing|       100|           90|     18000|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|      misssing|       102|           60|     10000|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|      misssing|       103|           60|      7000|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|      misssing|       103|           60|      5800|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|      misssing|       103|           60|      5800|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|      misssing|       103|           60|      5200|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|      misssing|       101|          100|     13008|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|      misssing|       108|          100|     10000|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|      misssing|       108|          100|      9200|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|      misssing|       108|          100|      8700|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|      misssing|       108|          100|      8800|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|      misssing|       108|          100|      7900|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|      misssing|       100|           30|     12000|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|      misssing|       114|           30|      4100|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|      misssing|       114|           30|      3900|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|      misssing|       114|           30|      3800|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|      misssing|       114|           30|      3600|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+

In [15]:
df1.na.drop().show()

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+----------+
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+----------+

In [16]:
df1.na.drop(how='any').show()

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+----------+
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+----------+

In [17]:
df1.na.drop(how='all').show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|          NULL|      NULL|           90|     25000|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90|     18000|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90|     18000|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60|     10000|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60|      7000|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60|      5800|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60|      5800|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60|      5200|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100|     13008|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100|     10000|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100|      9200|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100|      8700|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100|      8800|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100|      7900|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30|     12000|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30|      4100|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30|      3900|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30|      3800|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30|      3600|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+

In [18]:
df1.na.drop(how='any',thresh=11).show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90|     18000|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90|     18000|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60|     10000|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60|      7000|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60|      5800|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60|      5800|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60|      5200|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100|     13008|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100|     10000|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100|      9200|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100|      8700|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100|      8800|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100|      7900|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30|     12000|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30|      4100|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30|      3900|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30|      3800|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30|      3600|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+----------+

In [19]:
df1.filter('SALARY>10000').show()

+-----------+----------+---------+--------+------------+----------+-------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+----------+---------+--------+------------+----------+-------+------+--------------+----------+-------------+----------+
|        100|    Steven|     King|   SKING|515.123.4567|2003-06-17|AD_PRES| 24000|          NULL|      NULL|           90|     25000|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|  AD_VP| 17000|          NULL|       100|           90|     18000|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|  AD_VP| 17000|          NULL|       100|           90|     18000|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17| FI_MGR| 12008|          NULL|       101|          100|     13008|
|        114|       Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07| PU_MAN| 11000|          NULL|       100|           30|     12000|
+-----------+----------+---------+--------+------------+----------+-------+------+--------------+----------+-------------+----------+

In [20]:
df1.filter( ( df1['SALARY']>10000 ) & ( df1['JOB_ID']=='AD_PRES' )).show()

+-----------+----------+---------+-----+------------+----------+-------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER| HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+----------+---------+-----+------------+----------+-------+------+--------------+----------+-------------+----------+
|        100|    Steven|     King|SKING|515.123.4567|2003-06-17|AD_PRES| 24000|          NULL|      NULL|           90|     25000|
+-----------+----------+---------+-----+------------+----------+-------+------+--------------+----------+-------------+----------+

In [21]:
df1.filter( (df1['SALARY'] > 10000) & ~(df1['JOB_ID'] == 'AD_PRES' )).show()

+-----------+----------+---------+--------+------------+----------+------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDIC|
+-----------+----------+---------+--------+------------+----------+------+------+--------------+----------+-------------+----------+
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21| AD_VP| 17000|          NULL|       100|           90|     18000|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13| AD_VP| 17000|          NULL|       100|           90|     18000|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|FI_MGR| 12008|          NULL|       101|          100|     13008|
|        114|       Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|PU_MAN| 11000|          NULL|       100|           30|     12000|
+-----------+----------+---------+--------+------------+----------+------+------+--------------+----------+-------------+----------+

In [23]:
df1.groupBy('DEPARTMENT_ID','JOB_ID').sum().show()

+-------------+----------+----------------+-----------+---------------+------------------+---------------+
|DEPARTMENT_ID|    JOB_ID|sum(EMPLOYEE_ID)|sum(SALARY)|sum(MANAGER_ID)|sum(DEPARTMENT_ID)|sum(SAL_PREDIC)|
+-------------+----------+----------------+-----------+---------------+------------------+---------------+
|           90|   AD_PRES|             100|      24000|           NULL|                90|          25000|
|           30|    PU_MAN|             114|      11000|            100|                30|          12000|
|           60|   IT_PROG|             525|      28800|            514|               300|          33800|
|           30|  PU_CLERK|             466|      11400|            456|               120|          15400|
|           90|     AD_VP|             203|      34000|            200|               180|          36000|
|          100|FI_ACCOUNT|             555|      39600|            540|               500|          44600|
|          100|    FI_MGR|             108|      12008|            101|               100|          13008|
+-------------+----------+----------------+-----------+---------------+------------------+---------------+

In [26]:
df1.agg({'SALARY' : 'sum'}).show()

+-----------+
|sum(SALARY)|
+-----------+
|     160808|
+-----------+

In [ ]:
#ML codes