In [ ]:
import pyspark as pys

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('practise').getOrCreate()

In [4]:
spark

In [5]:
df_py=spark.read.csv('D:\CODES\FlatFiles\emp_csv\EMP.csv',header=True,inferSchema=True)

In [6]:
df_py.show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|          NULL|      NULL|           90|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+

In [7]:
df_py.head(3)

[Row(EMPLOYEE_ID=100, FIRST_NAME='Steven', LAST_NAME='King', EMAIL='SKING', PHONE_NUMBER='515.123.4567', HIRE_DATE=datetime.date(2003, 6, 17), JOB_ID='AD_PRES', SALARY=24000, COMMISSION_PCT=None, MANAGER_ID=None, DEPARTMENT_ID=90),
 Row(EMPLOYEE_ID=101, FIRST_NAME='Neena', LAST_NAME='Kochhar', EMAIL='NKOCHHAR', PHONE_NUMBER='515.123.4568', HIRE_DATE=datetime.date(2005, 9, 21), JOB_ID='AD_VP', SALARY=17000, COMMISSION_PCT=None, MANAGER_ID=100, DEPARTMENT_ID=90),
 Row(EMPLOYEE_ID=102, FIRST_NAME='Lex', LAST_NAME='De Haan', EMAIL='LDEHAAN', PHONE_NUMBER='515.123.4569', HIRE_DATE=datetime.date(2001, 1, 13), JOB_ID='AD_VP', SALARY=17000, COMMISSION_PCT=None, MANAGER_ID=100, DEPARTMENT_ID=90)]

In [8]:
df_py.select('EMAIL','SALARY').show(2)

+--------+------+
|   EMAIL|SALARY|
+--------+------+
|   SKING| 24000|
|NKOCHHAR| 17000|
+--------+------+
only showing top 2 rows

In [9]:
df_py.dtypes

[('EMPLOYEE_ID', 'int'),
 ('FIRST_NAME', 'string'),
 ('LAST_NAME', 'string'),
 ('EMAIL', 'string'),
 ('PHONE_NUMBER', 'string'),
 ('HIRE_DATE', 'date'),
 ('JOB_ID', 'string'),
 ('SALARY', 'int'),
 ('COMMISSION_PCT', 'string'),
 ('MANAGER_ID', 'int'),
 ('DEPARTMENT_ID', 'int')]

In [10]:
df_py.describe().show()

+-------+-----------------+----------+---------+--------+------------+-------+-----------------+--------------+------------------+------------------+
|summary|      EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| JOB_ID|           SALARY|COMMISSION_PCT|        MANAGER_ID|     DEPARTMENT_ID|
+-------+-----------------+----------+---------+--------+------------+-------+-----------------+--------------+------------------+------------------+
|  count|               19|        19|       19|      19|          19|     19|               19|             0|                18|                19|
|   mean|            109.0|      NULL|     NULL|    NULL|        NULL|   NULL|8463.578947368422|          NULL|106.16666666666667| 69.47368421052632|
| stddev|5.627314338711377|      NULL|     NULL|    NULL|        NULL|   NULL|5713.049684866603|          NULL| 5.204635942514865|28.958530543314353|
|    min|              100| Alexander|   Austin| AHUNOLD|515.123.4567|AD_PRES|             2600|          NULL|               100|                30|
|    max|              118|     Valli|    Urman|VPATABAL|590.423.5567| PU_MAN|            24000|          NULL|               114|               100|
+-------+-----------------+----------+---------+--------+------------+-------+-----------------+--------------+------------------+------------------+

In [21]:
df_py2=df_py.withColumn('SAL_PREDICTIONS',df_py['COMMISSION_PCT'])

In [22]:
df_py2.show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDICTIONS|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---------------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|          NULL|      NULL|           90|           NULL|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90|           NULL|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90|           NULL|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60|           NULL|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60|           NULL|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60|           NULL|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60|           NULL|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60|           NULL|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100|           NULL|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100|           NULL|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100|           NULL|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100|           NULL|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100|           NULL|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100|           NULL|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30|           NULL|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30|           NULL|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30|           NULL|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30|           NULL|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30|           NULL|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---------------+

In [27]:
df_py2.na.drop().show()

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDICTIONS|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+

In [34]:

#all implies all row values are null , any impliesa nyone one value is null
df_py2.na.drop(how='any').show()

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDICTIONS|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+

In [35]:
#atleast 2 nonnull values are present
df_py2.na.drop(how='any',thresh=2).show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDICTIONS|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---------------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|          NULL|      NULL|           90|           NULL|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|          NULL|       100|           90|           NULL|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|          NULL|       100|           90|           NULL|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|          NULL|       102|           60|           NULL|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|          NULL|       103|           60|           NULL|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|          NULL|       103|           60|           NULL|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|          NULL|       103|           60|           NULL|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|          NULL|       103|           60|           NULL|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|          NULL|       101|          100|           NULL|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100|           NULL|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100|           NULL|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100|           NULL|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100|           NULL|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100|           NULL|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|          NULL|       100|           30|           NULL|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|          NULL|       114|           30|           NULL|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|          NULL|       114|           30|           NULL|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|          NULL|       114|           30|           NULL|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|          NULL|       114|           30|           NULL|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+---------------+

In [37]:
#every null value in subset ,the row is removed
df_py2.na.drop(how='any',subset=['COMMISSION_PCT']).show()

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|SAL_PREDICTIONS|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+---------------+

In [56]:
df_py2=df_py2.withColumnRenamed('SAL_PREDICTIONS','SAL_PREDICTION')

In [38]:
df_py2=df_py2.drop('SAL_PREDICTION')

In [43]:
df_py.na.fill('NA',subset=['COMMISSION_PCT']).show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|        100|     Steven|     King|   SKING|515.123.4567|2003-06-17|   AD_PRES| 24000|            NA|      NULL|           90|
|        101|      Neena|  Kochhar|NKOCHHAR|515.123.4568|2005-09-21|     AD_VP| 17000|            NA|       100|           90|
|        102|        Lex|  De Haan| LDEHAAN|515.123.4569|2001-01-13|     AD_VP| 17000|            NA|       100|           90|
|        103|  Alexander|   Hunold| AHUNOLD|590.423.4567|2006-01-03|   IT_PROG|  9000|            NA|       102|           60|
|        104|      Bruce|    Ernst|  BERNST|590.423.4568|2007-05-21|   IT_PROG|  6000|            NA|       103|           60|
|        105|      David|   Austin| DAUSTIN|590.423.4569|2005-06-25|   IT_PROG|  4800|            NA|       103|           60|
|        106|      Valli|Pataballa|VPATABAL|590.423.4560|2006-02-05|   IT_PROG|  4800|            NA|       103|           60|
|        107|      Diana|  Lorentz|DLORENTZ|590.423.5567|2007-02-07|   IT_PROG|  4200|            NA|       103|           60|
|        108|      Nancy|Greenberg|NGREENBE|515.124.4569|2002-08-17|    FI_MGR| 12008|            NA|       101|          100|
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|            NA|       108|          100|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|            NA|       108|          100|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|            NA|       108|          100|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|            NA|       108|          100|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|            NA|       108|          100|
|        114|        Den| Raphaely|DRAPHEAL|515.127.4561|2002-12-07|    PU_MAN| 11000|            NA|       100|           30|
|        115|  Alexander|     Khoo|   AKHOO|515.127.4562|2003-05-18|  PU_CLERK|  3100|            NA|       114|           30|
|        116|     Shelli|    Baida|  SBAIDA|515.127.4563|2005-12-24|  PU_CLERK|  2900|            NA|       114|           30|
|        117|      Sigal|   Tobias| STOBIAS|515.127.4564|2005-07-24|  PU_CLERK|  2800|            NA|       114|           30|
|        118|        Guy|   Himuro| GHIMURO|515.127.4565|2006-11-15|  PU_CLERK|  2600|            NA|       114|           30|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+

In [108]:
df_py.filter(~(df_py['SALARY']>10000) & (df_py['DEPARTMENT_ID'].isin([90,100]))).show()

+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER| HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+
|        109|     Daniel|   Faviet| DFAVIET|515.124.4169|2002-08-16|FI_ACCOUNT|  9000|          NULL|       108|          100|
|        110|       John|     Chen|   JCHEN|515.124.4269|2005-09-28|FI_ACCOUNT|  8200|          NULL|       108|          100|
|        111|     Ismael|  Sciarra|ISCIARRA|515.124.4369|2005-09-30|FI_ACCOUNT|  7700|          NULL|       108|          100|
|        112|Jose Manuel|    Urman| JMURMAN|515.124.4469|2006-03-07|FI_ACCOUNT|  7800|          NULL|       108|          100|
|        113|       Luis|     Popp|   LPOPP|515.124.4567|2007-12-07|FI_ACCOUNT|  6900|          NULL|       108|          100|
+-----------+-----------+---------+--------+------------+----------+----------+------+--------------+----------+-------------+

In [57]:
df_py2.groupBy('JOB_ID').sum().show().select('SALARY')

+----------+----------------+-----------+---------------+------------------+
|    JOB_ID|sum(EMPLOYEE_ID)|sum(SALARY)|sum(MANAGER_ID)|sum(DEPARTMENT_ID)|
+----------+----------------+-----------+---------------+------------------+
|FI_ACCOUNT|             555|      39600|            540|               500|
|   IT_PROG|             525|      28800|            514|               300|
|    FI_MGR|             108|      12008|            101|               100|
|  PU_CLERK|             466|      11400|            456|               120|
|    PU_MAN|             114|      11000|            100|                30|
|   AD_PRES|             100|      24000|           NULL|                90|
|     AD_VP|             203|      34000|            200|               180|
+----------+----------------+-----------+---------------+------------------+

AttributeError: 'NoneType' object has no attribute 'select'